#### Part 1 - Data Scraping & Cleaning

In [1]:
%matplotlib inline

In [2]:
####
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as patches

In [3]:
# scrape data from wikipedia website
url = 'https://en.wikipedia.org/wiki/List_of_Nigerian_heads_of_state_by_age#List_of_heads_of_state_by_age_at_assuming_office'
table = pd.read_html(url)

# loop through to see dataframe structures
for i in table:
    print(i.columns)

Index(['Name', 'Date of birth', 'Date of death',
       'Date and age at assuming office'],
      dtype='object')
Index(['Rank', 'Head of state', 'Date of birth', 'Date of death',
       'Longevity (Years, Days)', 'Longevity (Days)'],
      dtype='object')
Index([0, 1], dtype='int64')
Index(['#', 'Head of state', 'Date of birth', 'Date of assuming office',
       'Age at assuming office', 'End of term', 'Age at end of term',
       'Length of retirement', 'Date of death', 'Lifespan'],
      dtype='object')

In [4]:
df = table[0]
df.head()

,Name,Date of birth,Date of death,Date and age at assuming office
0,Yakubu Gowon,19 October 1934,(living),1 August 1966 (aged 31)
1,Murtala Muhammed,8 November 1938,13 February 1976,29 July 1975 (aged 36)
2,Olusegun Obasanjo,5 March 1937,(living),13 February 1976 (aged 38)
3,Muhammadu Buhari,17 December 1942,(living),31 December 1983 (aged 41)
4,Johnson Aguiyi-Ironsi,3 March 1924,29 July 1966,16 January 1966 (aged 41)

##### Data cleaning and Transformation

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Name                             16 non-null     object
 1   Date of birth                    16 non-null     object
 2   Date of death                    16 non-null     object
 3   Date and age at assuming office  16 non-null     object
dtypes: object(4)
memory usage: 640.0+ bytes

In [8]:
df['Date of death'] = pd.to_datetime(df['Date of death'], errors='coerce', format='%Y-%m-%d')
df.head()

,Name,Date of birth,Date of death,Date and age at assuming office
0,Yakubu Gowon,19 October 1934,NaT,1 August 1966 (aged 31)
1,Murtala Muhammed,8 November 1938,1976-02-13,29 July 1975 (aged 36)
2,Olusegun Obasanjo,5 March 1937,NaT,13 February 1976 (aged 38)
3,Muhammadu Buhari,17 December 1942,NaT,31 December 1983 (aged 41)
4,Johnson Aguiyi-Ironsi,3 March 1924,1966-07-29,16 January 1966 (aged 41)

In [11]:
# Get the current date
current_date = pd.to_datetime('today')

# Fill NaT values with the current date
df['Date of death'] = df['Date of death'].fillna(current_date)
df.head()

,Name,Date of birth,Date of death,Date and age at assuming office
0,Yakubu Gowon,19 October 1934,2024-05-13 07:45:29.862693,1 August 1966 (aged 31)
1,Murtala Muhammed,8 November 1938,1976-02-13 00:00:00.000000,29 July 1975 (aged 36)
2,Olusegun Obasanjo,5 March 1937,2024-05-13 07:45:29.862693,13 February 1976 (aged 38)
3,Muhammadu Buhari,17 December 1942,2024-05-13 07:45:29.862693,31 December 1983 (aged 41)
4,Johnson Aguiyi-Ironsi,3 March 1924,1966-07-29 00:00:00.000000,16 January 1966 (aged 41)

In [12]:
# convert the date of birth columns to datetime
df['Date of birth'] = pd.to_datetime(df['Date of birth'])

# Extract year of birth and convert to string
df['year of birth'] = pd.to_datetime(df['Date of birth']).dt.year.astype(str)

# Calculate age by subtracting birth dates from current date
df['age'] = df['Date of death'].dt.year - df['Date of birth'].dt.year

In [14]:
df.head()

,Name,Date of birth,Date of death,Date and age at assuming office,year of birth,age
0,Yakubu Gowon,1934-10-19,2024-05-13 07:45:29.862693,1 August 1966 (aged 31),1934,90
1,Murtala Muhammed,1938-11-08,1976-02-13 00:00:00.000000,29 July 1975 (aged 36),1938,38
2,Olusegun Obasanjo,1937-03-05,2024-05-13 07:45:29.862693,13 February 1976 (aged 38),1937,87
3,Muhammadu Buhari,1942-12-17,2024-05-13 07:45:29.862693,31 December 1983 (aged 41),1942,82
4,Johnson Aguiyi-Ironsi,1924-03-03,1966-07-29 00:00:00.000000,16 January 1966 (aged 41),1924,42

In [ ]:
# delete not so useful columns
del df['Date of birth']
del df['Date of death']
del df['Date and age at assuming office']


df.head()